* {
	text-decoration: none;
	margin: 0;
}

html {
	background-image: url('https://sciencecamp.host/bg2-export.png');
	opacity: 90%;
  width: 100%;
	
}
#postform {
  display: block;
}

#balance, #wallet {
	display: inline|flex;
	background: gray;
	float: right;
}

#wallet {
	color: orange;
	float: right;
	display: flex;
	float: right;
	margin: 0rem 0rem 0rem 0rem;
}

#wallet code:hover {
	color: tomato;
}

p {
  color: #000000;
}

 h6 {
	color: #aaaaaa;
	font-size: 120%;
	/*width: 120%;*/
	height: 8px;
	padding: 0;
	margin: 0;
	display: inline|grid;
}
form {
	margin: 20px;
  padding: 10px;
}

h1, legend,  {
	background: inherit;
	margin: auto;
	padding: 15px;
}
