* {
	text-decoration: none;
	margin: 0;
	display: inline|block;
	background: lightblue;
	color: #443444;
	opacity: 78%;

}

html {
  margin: auto;
	background-image: url('http://localhost:3000/bg2-export.png');
	background-size: 100%;
	opacity: 90%;
	
}
#balance, #wallet {
	display: inline|flex;
	background: gray;
	float: right;
}

#wallet {
	color: orange;
	float: right;
	display: flex;
	float: right;
	margin: 0rem 0rem 0rem 0rem;
}

#wallet code:hover {
	color: tomato;
}

div {
	text-align: left;
	justify-content: center;
}

p {
  color: #000000;
}

 h6 {
	color: #aaaaaa;
	font-size: 120%;
	width: 120%;
	height: 8px;
	padding: 0;
	margin: 0;
	display: inline|grid;
}
form {
	margin: 20px;
}

h1 {
	margin: auto;
	padding: 15px;
	color: #443444;
}
