* {
	text-decoration: none;
	margin: 0;
	display: inline|block;

}
html {
  margin: auto;
	padding: 20px;
}

#balance, #wallet {
	display: inline|flex;
	background: gray;
	float: right;
}
#wallet {
	color: orange;
	float: right;
	display: flex;
	float: right;
	margin: 0rem 0rem 0rem 0rem;
}
#wallet code:hover {
	color: tomato;
}


img{

	display: inline-block;
	margin: 0rem 0.5rem 0rem 0rem;
	padding: 0.25rem 0.5rem 0rem 0rem;
	justify-content: left;
	text-align: left;
}

div {

	text-align: left;
	justify-content: left;
}

.App-header {
  color: #000000;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
p {
  color: #000000;
}

 h6 {
	color: #aaaaaa;
	font-size: 120%;
	width: 120%;
	height: 8px;
	padding: 0;
	margin: 0;
	display: inline|grid;
}

form {
	margin: 20px;
}

h1 {
	color: red;
}
