#username {
	color: tomato;
  border-color: tomato;
  border-style: outset;
  border-radius: 10px;
  border-color: tomato;
  border-width: 5px;
}


h5, h3, h2, p {
  margin: auto;
  padding: 10px;
  display: block;
  border-radius: 10px;
  border-style: none
}

h5:active {
  border-style: inset groove;
  border-radius: 16px;
}
