#postform {
  display: block;
}
#username {
	color: tomato;
  border-color: tomato;
  border-style: outset;
  border-radius: 10px;
  border-color: tomato;
  border-width: 5px;
}


h5, h3, h2, p {
  margin: auto;
  display: block;
  border-radius: 10px;
  border-style: none
}

h5:active {
  background: linear-gradient(blue, lightblue);

}
