div#post {
  border-style: solid;
  border-radius: 9px;
  display: block;
  margin: 10px;
  padding: 5px;
}

h3#post-heading {
  font-size: 100%;
  opacity: 90%;
  color: lightblue;
  margin: 10px;
  padding: 5px;
  border-weight: 2px;
  border-style: inset;
}
