div#post {
  background: white;
  border-style: solid;
  border-color: gray;
  border-radius: 9px;
}

#posts {
  display: inline;
}

h3, h4 {
  background: white;
  font-size: 100%;
  opacity: 90%;
  color: lightblue;
  margin: 10px;
  padding: 5px;
  border-size: 2px;
  border-style: solid;
}


#post-content {
  margin: 10px;
  padding: 5px;
  border-style: outset;
  font-size: 80%;
}

#post-user {
  margin: 10px;
  color: darkgray;
  padding: 5px;
  border-style: none;
  opacity: 90%;
  font-size: 90%;
}
