div#post {
  background: white;
  border-style: none;
  margin: 0;
  display: inline| flex;
}

#timestamp {
  float: right;
  opacity: 50%;
  font-size: 40%;
  padding-top: 0;
  margin-top: 0;
}

h3, h4 {
  font-size: 60%;
  opacity: 80%;
  color: gray;
  border-style: none;
  padding-left: 10px;
}


#post-content {
  padding: 5px;
  font-size: 50%;
}

#post-user {
  color: darkgray;
  padding: 5px;
  border-style: none;
  opacity: 90%;
  font-size: 90%;
}
