html, body {
	width: 60%;
}
#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  
  background-color: red;
  height: 20px;
  line-height: 20px;
  background-color: #eee;
}

#footer p {
  margin-left: 5px;
}
