html, body {
	width: 100%;
}
#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  
  background-color: red;
  height: 20px;
  line-height: 20px;
  background-color: #eee;
}

#footer p {
  margin-left: 15px;
}
