div {
	display: block;
}
#login {
	margin: 2rem;
	float: left;
}

input {
	padding: 10px;
	margin: 2px 8px 2px 8px;
	border-radius: 5px;
	border-style: inset;
}

h2 {
	color: tomato;
	opacity: 50%;
	padding: 10px;
}
h3 {
}
input:focus, h3:focus {
	background: white;
}

input{
	color: black;
	padding: 4px;
}

input:focus, h3:focus {
	border-radius: 9px;
	animation-name: input-borders;
	animation-duration: 3s;

	outline: none;
	outline-color: yellow;
}

form {
	box-shadow: 10px 10px;
	margin: 0px;
	border-radius: 20px;
	border-style: outset;
}

#submit, h5 {
	margin: 10px;
	padding: .5rem;
	border-radius: 50px;
	border-style: solid;
	background: conic-gradient(skyblue, lightblue,white, lightblue, skyblue);
}

#autologin {
	background: #f2bf50;
	border-radius: 10px;
	width: 10px;
}

.register-legend {
	opacity: 20%;
	font-size: 10px;

}

