div {
	display: inline| flex;
}

#register {
	margin: 1rem;
	float: left;
	background: black;
}

form {
	background: gray;
	display: block;
}

h2.sub {
	color: tomato; 
	opacity: 50%;
	font-size: 20px;
	margin: auto;
	padding: 1.5rem
}

h3 {
	color: tomato;
	opacity: 20%;
	padding: 0rem 1.5rem 1rem 3rem;
	font-size: 13px;
}
