form {
	border-style: "groove";
	margin: "auto";
	padding: "10px";
	display: "inline|flex";
	height: "28rem";
	width: "22rem";
}
div {
	display: inline| flex;
}

#register {
	margin: 200px;
}

form {
	background: gray;
}
